<style>
    html {
        background: #ccc;
    }

    * {
        font-family: sans-serif;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        margin: 0px 5px 0px 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #aaa;
    }

    img {
        vertical-align: middle;
    }

</style>

<h1>Workers</h1>
{{range .}}
    {{if .Active}}
        <button type="button" class="collapsible">
            <img src="https://img.shields.io/badge/-✔-brightgreen?style=for-the-badge" />
            {{.URL}}
        </button>
        <div class="content"></div>
    {{else}}
        <button type="button" class="collapsible">
            <img src="https://img.shields.io/badge/-✘-red?style=for-the-badge" />
            {{.URL}}
        </button>
        <div class="content">
            <p>
                {{escapeNewLineHTML .Err}}
            </p>
        </div>
    {{end}}
{{end}}

<script>
    var coll = document.getElementsByClassName( "collapsible" );
    var i;

    for ( i = 0; i < coll.length; i++ ) {
        coll[i].addEventListener( "click", function () {
            this.classList.toggle( "active" );
            var content = this.nextElementSibling;
            if ( content.style.maxHeight ) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        } );
    }
</script>
